{% extends "base.html" %}
{% load static %}

{% block header %} 
    {% include 'header.html' %}
{% endblock %}


{% block content %}



<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
           <div class="card">
               <div class="card-body">
                   <form class="" action="/edit-todo/q=?" method="POST">
                       {% csrf_token %}
                       <div class="field mb-2 ">
                           <label for="name-todo">Nombre del todo</label>
                           <input type="text" name="" class="form-control" id="" value="" />
                       </div>
                       <div class="field mt-2">
                           <label for="level">Nivel de importancia</label>
                            <select class="form-select level-options" name="level" aria-label="Default select example">
                                <option value="normal" selected>Normal</option>
                                <option value="1">Prioriatrio</option>
                                <option value="2">Importante</option>
                                <option value="3">Urgente</option>
                            </select>
                       </div>
                       <div class="field">
                           <button type="submit">Guardar</button>
                       </div>
                   </form>
               </div>
               <div class="card-footer">
                   <div class="row">
                       <div class="col-sm-2">
                           <button class="btn btn-warning" type="button"><i class="uil uil-message"></i></button>
                       </div>
                       <div class="col-sm-2">
                           <button class="btn btn-success" type="button"><i class="uil uil-check"></i></button>
                       </div>
                   </div>
               </div>
           </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Guardar cambios</button>
      </div>
    </div>
  </div>
</div> 

<section class="section main-container flex">
    <div class="alert alert-danger d-none alert-box" role="alert">
        El campo debe contener una tarea.
    </div>
    <form action="/add-todo/" class="form-add-task flex" method="POST">
        {% csrf_token %} 
        <div class="field">
            <div class="input-group"> 
              <input type="text" class="form-control"  id="name-todo" placeholder="Reunión con proveedores" >
            </div>
        </div>
        <div class="field field-border">
        <select class="form-select level-options" id="level-todo-id">
          <option value="normal" selected>Normal</option>
          <option value="1">Prioriatrio</option>
          <option value="2">Importante</option>
          <option value="3">Urgente</option>
        </select>
        </div>
        <div class="field">
            <button type="submit" class="btn__add-todo "><i class="uil uil-message add-todo-icon"></i></button>
        </div>
    </form>
</section>
<main class="main">
        <div class="todos-container" id="box-todos">
            <div class="container container-xer text-center">
                <div class="spinner-grow text-info" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
</main>
{% endblock %}